<div class="bg-gradient-to-b from-[#1f1f3a] to-[#0f0f1e] min-h-screen text-white">
    <div class="max-w-6xl mx-auto px-6 py-10">
        @if (isLoading) {
        <div class="text-center text-white">Cargando álbum...</div>
        } @else if (album) {
        <!-- Cabecera del álbum -->
        <div data-aos="fade-up" class="flex flex-col md:flex-row items-center md:items-end gap-6">
            <img [src]="album.cover_xl" [alt]="album.title" class="w-56 h-56 rounded-xl shadow-lg object-cover" />
            <div>
                <p class="uppercase text-sm text-gray-300 font-semibold">Álbum</p>
                <h1 class="text-4xl md:text-5xl font-bold mt-1">{{ album.title }}</h1>
                <a [routerLink]="['/artist', album.artist.id]"
                    class="text-lg text-orange-400 mt-2 hover:underline cursor-pointer inline-block">
                    {{ album.artist.name }}
                </a>
                <p class="text-sm text-gray-400 mt-1">
                    Publicado: {{ album.release_date }}
                    @if (album.label) {
                    <span> • {{ album.label }}</span>
                    }
                </p>
            </div>
        </div>

        <!-- Lista de canciones -->
        <div data-aos="fade-up" data-aos-delay="200" class="mt-12">
            <h2 class="text-2xl font-semibold mb-4">Lista de canciones</h2>
            <div class="divide-y divide-gray-700">
                <div *ngFor="let track of album.tracks.data; let i = index"
                    class="py-3 flex items-center gap-4 group hover:bg-white/10 px-2 rounded" data-aos="fade-up"
                    [attr.data-aos-delay]="(i + 1) * 50">
                    <span class="w-6 text-right text-sm text-gray-400">{{ i + 1 }}</span>

                    <div class="flex-1 min-w-0 flex flex-col justify-center">
                        <p class="text-white font-semibold truncate">
                            {{ track.title }}
                        </p>
                        <p class="text-xs text-gray-400 truncate">
                            {{ track.artist.name }}
                        </p>
                    </div>

                    <span class="text-sm text-gray-400 w-16 text-right">
                        {{ (track.duration / 60) | number:'1.0-0' }} min
                    </span>
                    @if(authService.currentUser()){
                    <app-favorite-button *ngIf="track" [track]="track"></app-favorite-button>
                    }
                    @if(authService.currentUser()){
                    <app-add-to-playlist [track]="track"></app-add-to-playlist>
                    }
                    <app-preview-button [previewUrl]="track.preview" [title]="track.title" [artist]="track.artist?.name"
                        [cover]="track.album?.cover_medium">
                    </app-preview-button>
                </div>
            </div>
        </div>
        }
    </div>
</div>