<div
    class="bg-white/10 rounded-xl p-4 flex gap-4 items-center hover:shadow-lg transition-transform duration-300 hover:scale-[1.02]">
    <img [src]="track.album.cover_small" [alt]="track.title" class="w-16 h-16 rounded" />
    <div class="flex-1 min-w-0">
        <p class="font-semibold truncate">{{ track.title }}</p>
        <span class="text-sm text-gray-400">
            {{ (track.duration / 60) | number:'1.0-0' }} min
        </span>
    </div>
    @if(authService.currentUser()){
    <app-favorite-button [track]="track" class="pt-2"></app-favorite-button>
    }
    @if(authService.currentUser()){
    <app-add-to-playlist [track]="track"></app-add-to-playlist>
    }
    <app-preview-button [previewUrl]="track.preview" [title]="track.title" [artist]="track.artist?.name"
        [cover]="track.album?.cover_medium" class="pr-5"></app-preview-button>
</div>