<app-modal [visible]="true" (close)="close()">
    <h2 class="text-2xl text-white font-bold mb-6 text-center">Iniciar sesión</h2>

    <form (ngSubmit)="login()" #loginForm="ngForm" class="flex flex-col gap-4" *ngIf="!successMsg">
        <input type="email" name="email" [(ngModel)]="email" placeholder="Correo electrónico" required
            class="p-3 border rounded-md dark:bg-zinc-800 dark:text-white" [disabled]="loading" />
        <input type="password" name="password" [(ngModel)]="password" placeholder="Contraseña" required
            class="p-3 border rounded-md dark:bg-zinc-800 dark:text-white" [disabled]="loading" />

        <button type="submit" [disabled]="loginForm.invalid || loading"
            class="bg-gradient-to-r from-purple-500 to-indigo-600 text-white py-3 rounded-xl font-semibold transition hover:scale-105 hover:shadow-md disabled:opacity-50 disabled:cursor-not-allowed">
            {{ loading ? 'Cargando...' : 'Entrar' }} </button>
    </form>

    <button (click)="loginWithGoogle()"
        class="w-full flex items-center justify-center gap-3 mt-4 bg-white text-gray-700 py-3 rounded-xl font-semibold shadow hover:shadow-lg transition hover:scale-105 disabled:opacity-50"
        [disabled]="loading || successMsg" *ngIf="!successMsg">
        <img src="https://www.svgrepo.com/show/475656/google-color.svg" alt="Google" class="w-5 h-5" />

        {{ loading ? 'Cargando...' : 'Entrar con Google' }}
    </button>

    <p *ngIf="errorMsg" class="mt-4 text-red-600 text-center">{{ errorMsg }}</p>
    <p *ngIf="successMsg" class="mt-4 text-green-600 text-center">{{ successMsg }}</p>

    <p class="mt-4 text-center text-sm text-gray-400" *ngIf="!successMsg">
        ¿No tienes una cuenta?
        <button class="text-purple-400 hover:underline" (click)="openRegister()">Regístrate</button>
    </p>

</app-modal>