<div class="relative min-h-screen bg-[#0e0e24] text-white overflow-hidden font-inter">
    <!-- Hero background -->
    <div class="absolute inset-0 z-0 bg-cover bg-center bg-fixed opacity-10 pointer-events-none"
        style="background-image: url('/topography.svg')">
    </div>

    <!-- Hero section -->
    <section class="relative z-10 flex flex-col justify-center items-center text-center py-14 px-4" data-aos="fade-up">

        <!-- Logo -->
        <a [routerLink]="'/'" class="transition-transform hover:scale-105 mb-10">
            <img src="logo-musichub.png" alt="MusicHub Logo" class="h-20 md:h-28 object-contain drop-shadow-xl" />
        </a>

        <!-- Título -->
        <h1
            class="text-5xl md:text-7xl font-extrabold mb-6 text-transparent bg-clip-text bg-gradient-to-r from-[#a855f7] to-[#f97316]">
            Explora tu mundo musical
        </h1>

        <!-- Subtítulo -->
        <p class="text-lg md:text-xl text-gray-300 mb-6 max-w-xl">
            Busca artistas, álbumes y descubre ediciones físicas con Discogs y Deezer.
        </p>

        <!-- Botones de autenticación -->
        <!-- Botones de autenticación o saludo -->
        <div *ngIf="!currentUser()" class="flex flex-wrap justify-center gap-4 mb-8">
            <!-- Si no ha iniciado sesión -->
            <button (click)="openLogin()"
                class="inline-flex items-center gap-2 bg-[#c27aff] hover:bg-[#b264f2] text-white px-6 py-2 rounded-full shadow-sm transition-all duration-200 font-semibold text-sm">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M15 12H3m0 0l4-4m-4 4l4 4m13-7v10a2 2 0 01-2 2H9" />
                </svg>
                Iniciar sesión
            </button>

            <button (click)="openRegister()"
                class="inline-flex items-center gap-2 bg-white text-[#0e0e24] hover:bg-gray-100 px-6 py-2 rounded-full shadow-sm transition-all duration-200 font-semibold text-sm">
                <svg class="w-5 h-5 text-[#0e0e24]" fill="none" stroke="currentColor" stroke-width="2"
                    viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M12 4v16m8-8H4" />
                </svg>
                Registrarse
            </button>
        </div>
        <div *ngIf="currentUser()"
            class="flex items-center justify-center gap-2 sm:gap-4 text-white text-sm pb-5 flex-shrink-0">

            <button (click)="showLogoutConfirm = true"
                class="flex items-center gap-1 sm:gap-2 px-3 py-1.5 bg-[#f74f00] hover:bg-[#f72100] text-white rounded-full transition duration-200 font-medium text-xs sm:text-sm">
                <svg class="w-5 h-5" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
                    <path stroke-linecap="round" stroke-linejoin="round" d="M17 16l4-4m0 0l-4-4m4 4H7" />
                    <path stroke-linecap="round" stroke-linejoin="round"
                        d="M3 4a1 1 0 011-1h9a1 1 0 011 1v16a1 1 0 01-1 1H4a1 1 0 01-1-1V4z" />
                </svg>
                <span class="hidden sm:inline">Cerrar sesión</span>
            </button>

        </div>
        <!-- Si ha iniciado sesión -->
        <!-- Search bar -->
        <div class="w-full md:w-auto">
            <app-search-bar #searchBlock [(model)]="searchValue" (search)="onSearch($event)"
                (queryChange)="onQueryChange($event)">
            </app-search-bar>

            <!-- Loading indicator -->
            <div *ngIf="loading" class="flex justify-center mt-4">
                <div class="w-6 h-6 border-4 border-white border-t-transparent rounded-full animate-spin"></div>
            </div>

            <!-- No resultados -->
            <p *ngIf="!loading && hasSearched && topResults.length === 0" class="text-gray-400 text-center mt-4">
                No se encontraron resultados para tu búsqueda.
            </p>

            <!-- Resultadoas -->
            <div *ngIf="topResults.length" class="mt-4 space-y-2 text-left max-w-md mx-auto">
                <h3 class="text-lg text-gray-400 mb-2">Resultados principales:</h3>

                <div *ngFor="let item of topResults"
                    class="group bg-white/10 hover:bg-white/20 rounded-lg p-3 flex items-center gap-4 transition cursor-pointer relative"
                    (click)="goToDetail(item)">

                    <!--Imagen -->
                    <img [src]="getImage(item)" alt="{{ getTitle(item) }}" class="w-12 h-12 rounded" />

                    <!--Info -->
                    <div class="flex-1 min-w-0">
                        <p class="text-white font-semibold truncate">{{ getTitle(item) }}</p>
                        <p class="text-sm text-gray-400 truncate">{{ getSubtitle(item) }}</p>
                    </div>

                    <span
                        class="text-xs px-2 group-hover:opacity-0  py-1 bg-white/20 rounded-full text-gray-300 capitalize">
                        {{ item.type }}
                    </span>

                    <!-- Botón de preview (solo si es track) -->
                    <div *ngIf="isTrack(item)" (click)="$event.stopPropagation()"
                        class="absolute right-4 top-1/2 -translate-y-1/2 opacity-0 group-hover:opacity-100 transition duration-300">
                        <app-preview-button [previewUrl]="item.preview" [title]="item.title"
                            [artist]="item.artist?.name" [cover]="item.album?.cover_medium">
                        </app-preview-button>
                    </div>
                </div>

            </div>
        </div>
    </section>

    <!-- tarjetas -->
    <section class="relative z-10 py-20 px-6 bg-[#12122a] rounded-t-3xl shadow-inner" data-aos="fade-up"
        data-aos-delay="200">
        <div class="max-w-6xl mx-auto grid grid-cols-1 md:grid-cols-3 gap-10">
            <app-main-card title="Artistas" description="Encuentra información completa de tus artistas favoritos."
                image="artist4.jpg" hoverColor="purple-400" (onClick)="scrollToSearchInput('artist')"></app-main-card>

            <app-main-card title="Álbumes" description="Consulta álbumes populares y sus versiones físicas."
                image="album1.jpg" hoverColor="black" (onClick)="scrollToSearchInput('album')"></app-main-card>

            <app-main-card title="Playlists" description="Guarda tus favoritos y crea tus propias playlists."
                image="playlists1.jpg" hoverColor="orange-400"></app-main-card>

        </div>
    </section>
    <app-login-modal *ngIf="showLogin" (closed)="closeModals()" (openRegisterModal)="openRegister()"></app-login-modal>
    <app-register-modal *ngIf="showRegister" (closed)="closeModals()"></app-register-modal>
    <app-modal [visible]="showLogoutConfirm" (close)="showLogoutConfirm = false">
        <div class="text-white text-center space-y-4">
            <h2 class="text-xl font-semibold">¿Cerrar sesión?</h2>
            <p class="text-sm text-gray-300">¿Estás seguro de que quieres cerrar tu sesión?</p>
            <div class="flex justify-center gap-4 mt-6">
                <button (click)="confirmLogout()"
                    class="bg-[#f74f00] hover:bg-[#f72100] text-white px-4 py-2 rounded-full font-semibold transition">
                    Sí, cerrar
                </button>
                <button (click)="showLogoutConfirm = false"
                    class="bg-zinc-700 hover:bg-zinc-600 text-white px-4 py-2 rounded-full font-semibold transition">
                    Cancelar
                </button>
            </div>
        </div>
    </app-modal>
</div>